body {
  margin: 0;
  min-width: 1300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }
}

:root {
  --primary-white: #fefaef;
}
