spring:
  config:
    activate:
      on-profile: seed
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
        show_sql: false

logging:
  level:
    root: INFO
    com.nuriwoolim.pagebackend.util.seed: INFO

